/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log

spec/dummy/.bundle/
spec/dummy/.yardoc
spec/dummy/Gemfile.lock
spec/dummy/_yardoc/
spec/dummy/coverage/
spec/dummy/doc/
spec/dummy/pkg/
spec/dummy/spec/reports/
spec/dummy/tmp/
spec/dummy/*.bundle
spec/dummy/*.so
spec/dummy/*.o
spec/dummy/*.a
spec/dummy/mkmf.log
spec/dummy/log
